.paginacion {
  margin: 0px ;
  cursor: pointer;
}

.paginacion ul li {
  display: inline-block;
  margin: 5px;
}

.paginacion ul li a:hover {
  background: #F53614;
  color: white;
  font-weight: bold;
}

.button{
  color: tomato;
  font-size: 1em;
  background-color: white;
  border: solid tomato 1px;
  font-weight: bold;
  border-radius: 5px;
  padding: 8px
}
