.paginacion {
  margin: 20px ;
  cursor: pointer;
}

.paginacion ul {
  list-style: none;
  text-align: center;
}

.paginacion ul li {
  display: inline-block;
  margin-right: 10px;
}

.paginacion ul li a {
  padding: 5px 10px;
  color: #F53614;
  background-color: white;
  text-decoration: none;
  border-radius: 28px;
}

.paginacion ul li a:hover {
  background: #F53614;
  color: white;
  font-weight: bold;
}